:root {
  /* --header-footer-background: #130d48; */
  --header-footer-background: rgb(19 13 72 / 80%);
  --letter-color: #00AFC8;
  --hover-color: #59D50E;
}

@font-face {
    font-family: 'Zuume';
    font-style: normal;
    font-weight: 900;
    src: url(../font/Zuume\ ExtraBold.ttf);
}

/*font-family: "Zuume", sans-serif; */

body {
  height: 100vh;
  display: grid;
  /* grid-template-rows: 100px 1fr; */
}

#root {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;

}

.texto-principal{
    font-size: 20px;
    color: black;
    font-family: "Zuume", sans-serif;
}
